<!-- Copyright 2014 The Chromium Authors. All rights reserved.
     Use of this source code is governed by a BSD-style license that can be
     found in the LICENSE file. -->

<link rel="import" href="fc-card.html">
<link rel="import" href="fc-pile.html">

<polymer-element name="fc-collapsed-pile" extends="fc-pile">
  <template>
    <style>
      :host {
        display: block;
        background-color: darkgreen;
        box-shadow: inset 0 0 5px lightgreen;
        border-radius: 6px;
        position: relative;
      }

      img {
        display: block;
        width: 100%;
      }

      .above {
        /* FIXME: Need to override the deep selector for animations here. */
        position: absolute !important;
        top: 0;
      }
    </style>
    <template if="{{ !pile.cards.isEmpty }}">
      <template if="{{ pile.cards.length >= 3 }}">
        <fc-card class="above" card="{{ pile.cards[pile.cards.length - 3] }}"></fc-card>
      </template>
      <template if="{{ pile.cards.length >= 2 }}">
        <fc-card card="{{ pile.cards[pile.cards.length - 2] }}"></fc-card>
      </template>
      <fc-card class="above" card="{{ pile.cards[pile.cards.length - 1] }}"></fc-card>
    </template>
    <template if="{{ pile.cards.isEmpty }}">
      <img src="../svg-cards/none.svg">
    </template>
  </template>
  <script type="application/dart" src="fc-collapsed-pile.dart"></script>
</polymer-element>
